<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3825.585539941201!2d-68.13694388451958!3d-16.49651104501092!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915f2073d120722d%3A0xd1625c3bfaee939!2sTotto!5e0!3m2!1ses!2sbo!4v1647616744735!5m2!1ses!2sbo" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

<div class="container">
	<div class="row">
		<div class="col-ms-5">
			<div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Nombre</label>
    <input type="nombre" name="txtusuario" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Numero de celular</label>
    <input type="celular" name="txtpassword" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Asunto</label>
    <input type="password1" name="txtpassword1" class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary">Mandar</button>
			
    </div>
  </div>
  
</div>